<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 <typeAliases> 
 	<typeAlias type="sesoc.global.c4d.vo.Career_simple" alias="Career_simple"/>
 	<typeAlias type="sesoc.global.c4d.vo.Career" alias="Career"/>
 	<typeAlias type="sesoc.global.c4d.vo.CareerList" alias="CareerList"/>
 	<typeAlias type="sesoc.global.c4d.vo.Cv" alias="Cv"/>
 	<typeAlias type="sesoc.global.c4d.vo.ECL" alias="ECL"/>
 	<typeAlias type="sesoc.global.c4d.vo.Edu" alias="Edu"/>
 	<typeAlias type="sesoc.global.c4d.vo.EduList" alias="EduList"/>
 	<typeAlias type="sesoc.global.c4d.vo.EveryECL" alias="EveryECL"/>
 	<typeAlias type="sesoc.global.c4d.vo.Licc" alias="Licc"/>
 	<typeAlias type="sesoc.global.c4d.vo.LiccList" alias="LiccList"/>
 	<typeAlias type="sesoc.global.c4d.vo.Portfolio" alias="Portfolio"/>
 	<typeAlias type="sesoc.global.c4d.vo.Project" alias="Project"/>
 	<typeAlias type="sesoc.global.c4d.vo.PrjList" alias="PrjList"/>
 	<typeAlias type="sesoc.global.c4d.vo.User" alias="User"/>
 	<typeAlias type="sesoc.global.c4d.vo.PfImg" alias="PfImg"/>
 	<typeAlias type="sesoc.global.c4d.vo.PfItem" alias="PfItem"/>
 	<typeAlias type="sesoc.global.c4d.vo.Resume" alias="Resume"/>
 </typeAliases>
  <mappers> 
  	<mapper resource="mappers/cv_mapper.xml"/>
  	<mapper resource="mappers/statsMapper.xml"></mapper>
  	<mapper resource="mappers/careerMapper.xml"></mapper>
  	<mapper resource="mappers/projectMapper.xml"></mapper>
  	<mapper resource="mappers/portfolioMapper.xml"></mapper>
  	<mapper resource="mappers/userMapper.xml"/> 
  	<mapper resource="mappers/resumeMapper.xml"/>
  </mappers>
</configuration> 